WCFApplicationClient/Connected Services/ServiceReference1/Library.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Library" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:4505/BookNS/Library?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:4505/BookNS/Library?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:4505/BookNS/Library?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BookNS" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILibrary_AllBooks_InputMessage">
    <wsdl:part name="parameters" element="tns:AllBooks" />
  </wsdl:message>
  <wsdl:message name="ILibrary_AllBooks_OutputMessage">
    <wsdl:part name="parameters" element="tns:AllBooksResponse" />
  </wsdl:message>
  <wsdl:message name="ILibrary_AddBook_InputMessage">
    <wsdl:part name="parameters" element="tns:AddBook" />
  </wsdl:message>
  <wsdl:message name="ILibrary_AddBook_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddBookResponse" />
  </wsdl:message>
  <wsdl:message name="ILibrary_UpdatePrice_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePrice" />
  </wsdl:message>
  <wsdl:message name="ILibrary_UpdatePrice_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePriceResponse" />
  </wsdl:message>
  <wsdl:portType name="ILibrary">
    <wsdl:operation name="AllBooks">
      <wsdl:input wsaw:Action="http://tempuri.org/ILibrary/AllBooks" message="tns:ILibrary_AllBooks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILibrary/AllBooksResponse" message="tns:ILibrary_AllBooks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddBook">
      <wsdl:input wsaw:Action="http://tempuri.org/ILibrary/AddBook" message="tns:ILibrary_AddBook_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILibrary/AddBookResponse" message="tns:ILibrary_AddBook_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePrice">
      <wsdl:input wsaw:Action="http://tempuri.org/ILibrary/UpdatePrice" message="tns:ILibrary_UpdatePrice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILibrary/UpdatePriceResponse" message="tns:ILibrary_UpdatePrice_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ILibrary" type="tns:ILibrary">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AllBooks">
      <soap:operation soapAction="http://tempuri.org/ILibrary/AllBooks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddBook">
      <soap:operation soapAction="http://tempuri.org/ILibrary/AddBook" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePrice">
      <soap:operation soapAction="http://tempuri.org/ILibrary/UpdatePrice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Library">
    <wsdl:port name="BasicHttpBinding_ILibrary" binding="tns:BasicHttpBinding_ILibrary">
      <soap:address location="http://localhost:4505/BookNS/Library" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>